.nextButton {
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
}

input[type="radio"] {
  display: none;
}

svg {
  filter: invert(100%) sepia(67%) saturate(2%) hue-rotate(215deg)
    brightness(106%) contrast(100%);
  cursor: pointer;
}

img {
  height: 225px;
  width: 225px;
  max-height: 225px;
  max-width: 225px;
}

.main {
  display: flex;
  background-color: #298329;
  color: #ffffff;
  height: 400px;
  max-height: 400px;
}

.mainimg {
  background-image: url("https://iili.io/HNzk3TN.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 90%;
  width: 90%;
}

.content {
  margin-block: auto;
  margin: 3%;
  width: 70%;
}

.content h1 {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  margin: 0;
  margin-bottom: 1%;
}

.content p {
  margin: 0;
  font-weight: 200;
  font-style: normal;
}

.content label {
  font-weight: 200;
  font-style: normal;
}

.optInSelect {
  margin-top: 2%;
}
.optInSelect label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}

.optInSelect label > svg:nth-child(2) {
  display: none;
}

.optInSelect input[type="radio"]:checked + label > svg:nth-child(1) {
  display: none;
}

.optInSelect input[type="radio"]:checked + label > svg:nth-child(2) {
  display: inline-block;
}

.locationlink {
  color: #dedb85;
  text-decoration-line: underline;
  cursor: pointer;
  font-weight: 300;
  font-style: normal;
}

.projectslink {
  color: #dedb85;
  text-decoration-line: underline;
  cursor: pointer;
  padding-left: 2.5%;
  font-weight: 200;
  font-style: light;
}

.locationDropDown {
  margin-top: 1%;
  margin-bottom: 1%;
}

.locationVehicleIcons {
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
  max-width: 60%;
}

.locationVehicleIcons input:checked + label > svg {
  filter: invert(89%) sepia(66%) saturate(295%) hue-rotate(353deg)
    brightness(89%) contrast(94%);
}

.vehicleFuelType {
  color: #dedb85;
  font-weight: 300;
  font-style: normal;
}

.projectSelect {
  margin-top: 2%;
}

.projectSelect label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}

.projectSelect input:checked + label {
  color: #dedb85;
}

.projectSelect input:checked + label > svg {
  filter: invert(89%) sepia(66%) saturate(295%) hue-rotate(353deg)
    brightness(89%) contrast(94%);
}
